@import url("../css/common.css");

body,
html {
  margin: 0;
  padding: 0;
}
.header .logo {
  background-color: navy;
  color: #e6e6e6;
  padding: 30px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.header .logo .fa-arrow-left {
  float: left;
}

.sub {
  /* position: fixed; */
  /* top: 150px; */
  /* left: 0;
  bottom: 0;
  z-index: 30; */
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px 0 0;
  background-color: var(--WHITE000S);
  /* border-right: 1px solid #e6e6e6; */
  box-sizing: border-box;
}

.sub #wrap_calendar {
  flex: 0 0 auto;
  height: 60px;
  box-sizing: border-box;
}
#wrap_calendar {
  padding: 20px 20px 0;
}

#wrap_calendar .nav_calendar {
  display: flex;
  margin-bottom: 8px;
}

.nav_calendar {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

#wrap_calendar .nav_calendar .tit_calendar {
  position: absolute;
  flex: 1 1 auto;
  padding-left: 2px;
  text-align: left;
  font-size: 18px;
}

button {
  border: none;
  background-color: transparent;
}

#wrap_calendar .nav_calendar .btn_prev {
  position: absolute;
  top: 6px;
  right: 30px;
}

#wrap_calendar .nav_calendar .btn_next {
  position: absolute;
  top: 6px;
  right: 5px;
}
#miniCal {
  border-color: black;
}

.wrap_calendar .area_calendar {
  height: auto;
}

.area_calendar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.wrap_calendar .area_calendar .row {
  margin-top: 2px;
  justify-content: space-between;
}

.area_calendar .row {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex: 0 0 22px;
  justify-content: space-around;
}

.area_calendar .coulmn {
  position: relative;
  width: 22px;
  height: 22px;
  padding: 1px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: 7px;
  font-weight: 700;
}

.area_calendar .sunday {
  color: red;
  text-decoration-color: red;
}

.area_calendar .row_header .coulmn {
  text-decoration: underline;
}

.area_calendar.area_day .select.today .txt_day {
  border-color: #000;
  background-color: #000;
  color: #e6e6e6;
}
.area_calendar .txt_day {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  width: 22px;
  height: 25px;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  box-sizing: border-box;
}

.area_calendar .disabled .txt_day {
  opacity: 0.2;
}

/* 나중에 목표 달성이나 일정 클리어했을 때 미니 캘린더에 체크될 css */
.area_calendar .txt_day.checked {
  background-color: navy;
  color: #e6e6e6;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area_calendar .txt_day.checked::after {
  content: "\2713"; /* 체크 마크(✓)의 유니코드 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: navy;
  font-size: 16px;
}
